.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  color: #000; /* black text */
}

h1, h3 {
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}
